.home-banner-container{

    background-image: url(../../assets//homeBanner/DSC06736.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    box-shadow: 30px 30px 30px black;

   
    
}
.home-banner-shadow{

    
    background-color: black;
    opacity: 0.3;

    width: 100%;
}